.scroll-button a {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #FFF;
    width: 35px;
    height: 35px;
    padding: 7px 12px;
    background-color: #4070f4;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15);
    display: none;
    
}
