.overlay {
    background-color: #222;
    color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
}
.overlay .load-screen {
    width: 100px;
    height: 100px;
    border: 3px solid rgb(64, 81, 238);
    border-radius: 50%;
    border-bottom: none;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    animation: load 2s linear infinite;
}

@keyframes load {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
.overlay span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 120px;
    margin-left: 15px;
    display: inline-block;
    width: 100px;
}
.overlay span p{
    display: inline-block;
    width: fit-content;
    font-size: 40px;
    opacity: 0;
    animation: load-point 3s linear infinite;
}

@keyframes load-point {
   0% , 10% {
        opacity: 0.1;
    }
    20% , 40% {
        opacity: 0.5;
    }
    50% , 70% {
        opacity: 0.7;
    }
    80% , 90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


