body {
    padding-top: 70px;
}
.navbar {
    background-color: #333;
    padding: 0;
    min-height: 70px;
    
}

.navbar .navbar-brand{
    font-size: 30px;
}
.navbar .navbar-brand,
.navbar .nav-item .nav-link,
.navbar .nav-item .nav-link.active{
    color: #FFF;
    padding: 15px 20px;
}
.navbar .nav-item .nav-link{
    font-size: 22px;
}
.navbar .nav-item .nav-link.active{
    color: #E41817;
}
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link:focus,
.navbar .navbar-brand:hover ,
.navbar .navbar-brand:focus{
    color: #FFF;
}
.navbar .nav-item:hover{
    background-color: #777;
}
.navbar .nav-item .dropdown-menu{
    background-color: #333;
    min-width: 200px;
}
.navbar .nav-item .dropdown-menu li a{
    color: #DDD;
    padding: 6px 20px;
    transition: padding 0.5s ease;
}
.navbar .nav-item .dropdown-menu li a:hover {
    color: #FFF;
    background-color: #E41817;
    padding-left: 25px;
}
.navbar .nav-item .dropdown-menu{
    border-top: 3px solid #E41817;
}
.navbar .container button{
    color: #FFF;
    border: 3px solid #FFF;
}
.navbar-toggler-icon{
    color: #FFF;
    
}
